{% extends 'app/base.html' %} {% load static %} {% block title %}Address
{% endblock title %} {% block main-content %}
<div class="container my-5">
  <div class="row">
    <h3>Welcome {{request.user}}</h3>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid">
          <a href="{% url 'profile' %}" class="btn">Profile</a>
        </li>
        <li class="d-grid">
          <a href="{% url 'address' %}" class="btn {{active}}">Address</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 offset-sm-1">
      <div class="row">
        {% for ad in add%}
        <div class="col-sm-6">
          <div class="card bg-dark text-white">
            <div class="card-body">
              <h3>Address &nbsp; {{forloop.counter}} </h3>
              <p>Name:&nbsp;&nbsp;{{ad.name}}</p>
              <p>Locality:&nbsp;&nbsp; {{ad.locality}}</p>
              <p>City: &nbsp;&nbsp;{{ad.city}}</p>
              <p>State:&nbsp;&nbsp; {{ad.state}}</p>
              <p>Zipcode: &nbsp;&nbsp;{{ad.zipcode}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}
